* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    background-color: #191931;
    color: #e1e1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", sans-serif;
    padding-top: 4rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  h1  {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right,#fff0c7,#fd9346,#ff6200,#fd9346,#fff0c7) ;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
  }

  @keyframes animate-gradient {
    to {
      background-position: 200%;
    }
  }

  p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
  .my-photo {
    width: 10rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
  }


  .my-photo {
    -webkit-animation:flip 5s ease 0.5s infinite normal;
    -moz-animation:flip 5s ease 0.5s infinite normal;
    -ms-animation:flip 5s ease 0.5s infinite normal;
    animation:flip 5s ease 0.5s infinite normal;
  }

  @-webkit-keyframes flip {
    0%{ -webkit-transform: translateY(0); transform: rotateY(0deg); }
    50%{ -webkit-transform: translateY(180); transform: rotateY(180deg); }
    100%{ -webkit-transform: translateY(0); transform: rotateY(0deg); }
  }

  @keyframes flip {
    0%{ transform: rotateY(0deg); }
    50%{ transform: rotateY(180deg); }
    100%{ transform: rotateY(0deg); }
  }




  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .sosmed i {
    font-size: 1.5rem;
    color: #8787a3;
  }
  
  .sosmed i:hover {
    color: #fff0c7;
  }
  
  .sosmed a:not(:last-child) {
    margin-right: 1rem;
  }
  
  ul {
    width: 80%;
    max-width: 40rem;
  }
  
  ul li {
    list-style: none;
  }
  
  ul.links li:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .links {
    margin-top: 1rem;
  }
  
  .link-card {
    --border-width: 1px;

  position: relative;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: #fff0c7;
  background: #2d2d56;
  border-radius: 10px;
  padding: 1rem;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      #fff0c7,
      #fd9346,
      #fd9346,
      #ff6200,
      hsl(44, 85%, 66%),
      #fd9346,
      #fd9346,
      #fff0c7
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 10px;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
  
  .links .link-icon {
    background-image: linear-gradient(to top, #ff6200, #fdb777);
    padding: 1rem;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .links .link-icon i {
    color: #fff0c7;
  }
  
  .links .link-text {
    text-align: center;
    color: #fff0c7;
  }
  
  .link-action {
    color: #8787a3;
    cursor: pointer;
    padding: 10px;
  }
  
  .copyright {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: #8787a3;
    font-size: 0.75rem;
  }
  



  
  #toast {
    width: max-content;
    position: fixed;
    top: 0;
  }
  
  .toast-container {
    background-color: white;
    color: #0f0f25;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    animation: muncul 300ms ease-in-out;
  }
  
  .toast-gone {
    animation: hilang 1s ease-in-out 1s;
  }
  
  @keyframes muncul {
    from {
      opacity: 0;
      transform: translateY(-4rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes hilang {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }






  .links .link-text {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.links .link-text {
		animation-name: blink-2;
		animation-duration: 3.2s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-fill-mode: none;
			
		/* shorthand
		animation: blink-2 3.2s linear 0s infinite normal none;*/
	}
	@keyframes blink-2 {
			
		0% {
			opacity:1;
		}
		50% {
			opacity:0.2;
		}
		100% {
			opacity:1;
		}
	}

